/* Eléments généraux de la page */

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

 .container_page{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

 }

body{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #181818;
    font-size: 1em;

}

body h1{
    font-size: 1.5em;
    font-weight: bold;
}


body h2
{   font-size: 1.5em;
    font-weight: 700;
}

body h3
{
    font-size: 1em;
    font-weight: 700
}

body p
{font-size: 1em;
}


/* Header */

.topbar{
    
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    padding-bottom: 30px;
    align-items: end;

}
  
.topbar_logo{
    
    padding: 0;
    
}

.stay{
    text-align: center;

}


.act{
    align-self: flex-end;
    text-align: center;


}


.topbar a{
    
    color: black;
    text-decoration: none ;
    padding-bottom: 10px;
    font-size: 1em;   

}

.stay,
#stay
{
    color: blue;
    border-top: 2px solid blue;
    padding-top: 55px;
}

.box:hover,
.topbar div a:hover {
    color: blue;
    border-top: 2px solid blue;
    padding-top: 55px;
}


.topbar_enroll {
    
    
    text-align: center;

}

#enroll{
    color: #0065FC;
    font-weight: bold;
      
}

.entete2{
    margin: auto;
 }

.entete2 h1{
   text-align:justify;
}

.entete2 p{
    margin-top: -5px;
}

/*Champ de recherche*/

.search-wrapper{
    display: flex;
    max-width: 420px;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

.location-btn{
    border: none;
    background-color: #F2F2F2;
    width: 52px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.1em;
    max-width: 53px;
    width: 100%;

}

.location_ico{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.search-input{
    background-color: #FFFFFF;
    border: 1px solid #f2f2f2;
    padding-left: 18px;
    font-size: 15px;
    white-space: nowrap;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
}


.search-btn{
    border: none;
    background-color: #0065FC;
    color: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.1em;
    max-width: 134px;
    width: 100%;
}

.search_label{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 1em;
    font-weight: 700;
}

.search-btn .search_icon{
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

/* La zone des filtres*/

.bloc_filters {
    display: flex;
    
}

.filter_title{
    padding-right: 30px;
    padding-left: 10px;
}

.filter_area{
    max-width: 928px;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    
}


.filter_btn{
    
    background-color: #FFFFFF;
    border: 2px solid #0000001a;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0px 16px;
    position: relative;
    border-radius: 50px;
}

/*survol boutton filtres*/

.filter_text:hover {
   color:  rgba(0, 0, 255, 0.376);
}
.filter_btn:hover {
    border: 2px solid rgba(0, 0, 255, 0.137);
}
.filter_btn div i:hover {
    color:  rgba(0, 0, 255, 0.376);
}


.filter_btn div i{ 
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    font-size: 1.5em;
     /*This creates a 1px solid red border around your element(div) */
     /*border:1px solid #F2F2F2;*/
     background-color: #DEEBFF;
     /* border-radius 50% will make it fully rounded. */
     border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
     padding-top: 15px;
     text-align: center;
     position: absolute;
     top: -2px;
     left: -2px;
   
}

.filter_text{
    display: block;
    white-space: nowrap; /* interdiction de passer à la ligne */
    font-size: 16px;
    font-weight: 700;
    padding-left: 60px;
    padding-right: 10px;
    margin: auto;
}

/*zone information*/

.info{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 45px;
    padding-bottom: 0;
    padding-left: 10px ;
}

.info p {
    margin: 0;
    padding-left: 13px;
}
.info-ico{
   text-align: center;
}

.info div i { 
    
    font-size: 0.8em;
    padding-top: 0.3em;
    /*This creates a 1px solid red border around your element(div) */
     border:1px solid #F2F2F2;
     background-color: #FFFFFF;
     height: 25px;
     /* border-radius 50% will make it fully rounded. */
     border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
     width: 25px;
}

/*Le bloc contenant les section "Hébergements à Marseille" et "les plus populaires"*/

.container1 {
    display: flex;
    align-items: baseline;
    justify-content: space-between ;
    gap: 40px;
}

/* section "Hébergement à Marseille*/

.container1_left
{
    width: 882px;
    height: 628px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    flex: 1;
}

.container1_left h1
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.cards_left
{
    display: grid;
    row-gap: 30px;
    column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    justify-content: space-evenly;

}

.cards_left .card_item
{   width: 246px;
    height: 100%;
    background-color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 20px;
    

}

/* début astuce pour rendre la zone carte cliquable à partir du a situé dans la légende en utilisant le pseudo element before ou after*/

.card_item .card_info h3 a{
    text-decoration: none;
    color: black;
}
.card_item{

    position: relative; 

}

.card_item a::before{
    content: '';
    position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.fig{
    position: relative;
}

.fig a::after {
    content: '';
    position: absolute;
    left:0;
	right:0;
	top:0;
	bottom:0;
}

.fig h3 a{
    text-decoration: none;
    color: black;
}

/*début astuce pour rendre la zone carte cliquable à partir du a situé dans la légende en utilisant le pseudo element before ou after*/

.cards_left .card_img > picture > img
{
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1px;

}

.container1_left .card_info
{
    padding-left: 15px;
    padding-top: 0px;
    
}

.container1_left .card_info h3
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
       
}

.container1_left .price{
    font-size: 0.8em;
    margin-top: 0;
    padding-top: 5px;

}
.container1_left .star{
    font-size: 0.7em;
    padding-top: 5px;
    padding-bottom: 5px;

}

.container1_left h3{
    margin-top: 50px;
}



/* section "Les plus populaires*/

.container1_right
{
    width: 418px;
    height: 628px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    
}

.container1_right_header
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}


.chart_ico
{
    font-size: 1.5em;
}


.cards_right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    
}



.cards_right .card_item
{   width: 100%;
    height: 145px;
    background-color: #FFFFFF;
    display: flex;
    gap: 10px;
    border-radius: 20px;
    

}

.cards_right .card_img > picture > img
{
    width: 132px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
    
}
.container1_right .card_info
{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.container1_right .card_info h3
{
    
    padding-top: 3px;
}

.container1_right .price{
    font-size: 0.8em;
    margin-top: -3px;
}
.container1_right .star{
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}

/* Section "Activités à Marseille"*/

.title_container2
{
    padding-bottom: 10px;
}
.cards_container2 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    row-gap: 45px;
    column-gap: 40px;
    grid-auto-flow: column;
    margin-bottom: 60px;
    height: 446px;
  
}

.fig{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
            
}

.fig:nth-child(1),
.fig:nth-child(4)
{
    grid-row: 1 / span 2;

}


.fig .image
{   width: 100%;
    height: 70%;
    flex: 1 ;
    background-color: yellow;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}


.fig img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
   
}

.fig .legend{
    font-size: 1em;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #FFFFFF;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFFFFF;
}

.shadow1 {
    
    -webkit-box-shadow: 5px 5px 7px  #d7d7dd6c;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 5px 7px  #d7d7dd6c;  /* Firefox 3.5 - 3.6 */
    box-shadow: 5px 5px 7px  #d7d7dd6c,
                -5px -5px 7px  #d7d7dd6c;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.shadow2 {
    
    -webkit-box-shadow: 5px 12px 10px  rgba(128, 128, 128, 0.178);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 12px 10px  rgba(128, 128, 128, 0.178);  /* Firefox 3.5 - 3.6 */
    box-shadow: 5px 12px 10px  rgba(128, 128, 128, 0.178);
                  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* Footer */

footer{
   
    
    display: flex;
    background-color: #F2F2F2;  
    justify-content: space-between;
    padding: 40px 50px 0px 50px;
    margin-left: -50px;
    margin-right: -50px ;
}

.footer_title {
    font-size: 1.5em;
    margin-bottom: 25px;

}

  
footer ul{
    list-style-type: none;
    padding-left: 0;
   
}
footer ul a{
    text-decoration: none;
    color: black;
}

.footer_list{
    padding-bottom: 20px;
}

/* Responsive tablette et mobile avec 13 breakpoint à 1404px, 1360px, 1292px, 1224px, 1012px, 1002px, 920px, 883px, 768px, 655px,593px, 498px et 375px */



@media only screen and (max-width: 1404px) {

    .cards_right .card_info h3{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1360px){

    .container1 {
        flex-direction: column-reverse;
    }

    .container1_right {
        width: 100%;
        height: 260px;
    }

    .container1_right_header {
        padding-top: 0px;
       }
    
    .cards_right {
        
        flex-direction: row;
        padding-top: 0px;
        gap: 30px;
   }

   .cards_right .card_item {
    height: 160px;
    
   }

   .container1_left {
    width: 100%;
   }


   .cards_left .card_item {
    width: 100%;
    }
}

@media only screen and (max-width: 1292px) {
    
    .topbar {
        
        grid-template-columns: 6fr 1fr 1fr 1fr;
    }

    
    
    .container1_left {
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .cards_left {
       
        justify-items: center;
    
    }

    .cards_left .card_item {   
        width: 100%;
        height: 100%;
    }  

    .container1_left > h3 {
        
        margin-bottom: 40px;
        margin-top: 40px;
       }
       
    .title_container2 {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 0px;
       }
}

@media only screen and (max-width: 1224px) {

    .cards_container2 {
        
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
                "a b c"
                "d e f";
    }

    .fig:nth-child(1) {
        grid-area: a;
    }
    .fig:nth-child(2) {
        grid-area: d;
    }
    .fig:nth-child(3) {
        grid-area: b;
    }
    .fig:nth-child(4) {
        grid-area: e;
    }
    .fig:nth-child(5) {
        grid-area: c;
    }
    .fig:nth-child(6) {
        grid-area: f;
    }
}



@media only screen and (max-width: 1012px) {

    .cards_right{
        gap: 10px;
}


    .cards_right > div:nth-child(2) {
        
        width: 110%;
    }
}

@media only screen and (max-width: 1002px) {
    .bloc_filters {
        display: flex;
        flex-direction: column;
    }

    .filter_title {
        padding-left: 0px;
    }

    button.filter_btn:nth-child(1) {
        margin-left: 0px;
        padding-left: 4px;
    }

    .info {
        padding-left: 0px;
    }
}



@media only screen and (max-width: 902px) {

    .topbar {
        
        grid-template-columns: 6fr 2fr 1.5fr 1fr;
    }
    
    .container1_right {

        height: 620px;
    }
    
    .cards_right {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }

    .cards_right > div:nth-child(2) {
        width: 100%;
    }

    .cards_right .card_img > picture > img {
        
        width: 230px;
    }

    .cards_right .card_info h3 {
        font-size: 1em;
    }

    .container1_right .price {
        
        font-size: 1em;
        margin-top: 0px;
    }

    .container1_right .star {
        
        font-size: 1em;
    }
    
    

    /*Hébergement gauche et ses items en flexbox*/
    .cards_left {
        display: flex;
        flex-direction: column;
    }

    .cards_left .card_item{
        display: flex;
        width: 100%;
        height: 145px;
        background-color: #FFFFFF;
        gap: 10px;
        border-radius: 20px;
        position: relative;

    }

    .cards_left .card_item .card_img>picture>img {

        width: 230px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 1px;
        border-top-right-radius: 0px;
    }

    .cards_left .card_info h3 {
        font-size: 1em;
        margin-bottom: 12px;
    }

    .container1_left .price {
        
        font-size: 1em;
        margin-top: 0px;
    }

    .container1_left .star {
        
        font-size: 1em;
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 883px) {
    
    .filter_area{
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter_btn:nth-child(1),
    .filter_btn:nth-child(2),
    .filter_btn:nth-child(3),
    .filter_btn:nth-child(4)
       
    {
        margin-right:  5px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 768px) {

    .stay
    {   /*indique que la page Hébergements du menu de navigation est active*/

        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
        padding-top: 0px;
        border-top-style: none;
        margin-left: -20px;
        margin-top: 25px;
       
    }
    #stay {
        color: #0065FC;
        padding-bottom: 10px;
        padding-top: 0px;
        border-top: hidden;
    }

    .act{   /*indique que la page Activité du menu de navigation*/

        color: #0065FC;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
        padding-top: 0px;
        border-top: hidden;
        margin-right: -20px;
        

    }


    
    .box:hover,
    .topbar div a:hover {
        padding-top: 0px;
        border-top: hidden;
    }
    
    .topbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                            "A B"
                            "C C";
                            
        padding-bottom: 30px;
        align-items:center


    }

    .topbar_enroll
    {
        grid-area: B;
        margin-right: 0px;
        text-align: end;
        border-top: hidden;

    }

    .container2{
        height: 1400px;
    }

    .cards_container2 {
        display: grid;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .fig {
        height: 43%;
    }

}

@media only screen and (max-width: 655px) {

    footer {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 593px) {

    .container1_right .star {
        font-size: 0.7em;
        
        }
    .cards_right .card_img > picture > img {
        width: 132px;
        
        }

    .container1_left .star {
        font-size: 0.7em;
        
        }
    .cards_left .card_item .card_img > picture > img {
        width: 132px;
        
        }
}

@media only screen and (max-width:498px){
        
    .container_page{
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*search bar containing search_icon*/
    
    .search-wrapper {
        margin-bottom: 37px;
    }
    .search_label{
        display: none;
    }  
    
    .search-btn .search_icon {
    display: inline-block;

    }
    
    .search-btn {
        max-width: 51px;
    }
    
    .cards_left .card_item{
        display: block;
        height: 196px;
        gap: 10px;
        border-radius: 20px;
        position: relative;

    }

    .cards_left .card_item .card_img>picture>img {

        width: 100%;
        height: 114px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        
    }
    
    .cards_left .card_info h3 {
        
        margin-bottom: 0px;
    }

    .container1 {
        padding-left: 0px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .container1_left {
        padding-left: 0px;
        padding-right: 0px;
        background-color: #ffffff;
    }

    
    .container1_left > h3:nth-child(3) {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
    }

             
    .cards_left{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        background-color: #ffffff;
    }

    .container1_left > div:nth-child(1) > h2:nth-child(1) {
        padding-top: 0px;
        margin-top: 0px;
    }

    .cards_right {
        gap: 15px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .container1_right_header {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container1_right {
        height: 100%;
        padding-bottom: 0px;
        border-radius: 0;
    }
    
    .cards_right > div:nth-child(3) {
        padding-bottom: 0px;
        margin-bottom: 0px;
        }


}

/*Responsive mobile*/
  
@media only screen and (max-width: 375px) {

    

    /*filtres*/

    .filter_btn{
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    }
    
    .bloc_filters > h3:nth-child(1) {
        margin-top: 0px;
        margin-bottom: 16px;
    }

    /*information*/
    .info {
        padding-left: 0px;

    }

    .container1_left h2{
        padding-left: 20px;
    }

       
    
}    
       





        







