/* Eléments généraux de la page */

*{
    box-sizing: border-box;
}
 .container_page{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

 }

body{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #181818;
    font-size: 1em;

}

body h1{
    font-size: 1.5em;
    font-weight: bold;
}


body h2
{   font-size: 1em;
    font-weight: 700;
}

body p
{font-size: 1em;
}


/* Header */

.header_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
   
}
#logo{
    
    padding: 0;
}

/* Navigation */

nav ul{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
    
}

nav li{
    margin-right: 20px;
    font-size: 0.5em;
}

nav a{
    font-size: 2em;
    color: #181818;
    text-decoration: none ;
    padding-bottom: 10px;


}
#enroll{
    color: #0065FC;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}

/*#enroll:hover{
    background-color: #0065FC ;
    color: #ffffff;
    border-radius: 5% ;
}*/

nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 50px;
    
}

.entete2{
    margin: auto;
 }

.entete2 h1{
   text-align:justify;
}

.entete2 p{
    margin-top: -5px;
}




/*Champ de recherche*/

.search-wrapper{
    display: flex;
    max-width: 420px;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

.location-btn{
    border: none;
    background-color: #F2F2F2;
    width: 52px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.1em;
    max-width: 52px;
    width: 100%;

}

.search-input{
    background-color: #FFFFFF;
    border: 1px solid #f2f2f2;
    padding-left: 18px;
    font-size: 15px;
    white-space: nowrap;
    max-width: 234px;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
       
}


.search-btn{
    border: none;
    background-color: #0065FC;
    color: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.1em;
    max-width: 134px;
    width: 100%;
}

/* La zone des filtres*/

.filter_area{
    max-width: 928px;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
}

.filter_btn span{
    display: inline-block;
}


.filter_btn{
    
    background-color: #FFFFFF;
    border: 2px solid #0000001a;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0px 16px;
    position: relative;
    border-radius: 50px;
}

.filter_btn div i{ 
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    font-size: 1.5em;
     /*This creates a 1px solid red border around your element(div) */
     /*border:1px solid #F2F2F2;*/
     background-color: #DEEBFF;
     /* border-radius 50% will make it fully rounded. */
     border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
     padding-top: 15px;
     text-align: center;
     position: absolute;
     top: -2px;
     left: -2px;
   
}

.filter_text{
    display: block;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 8px;
}

/*zone information*/

.info{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 45px;
    padding-bottom: 0;
    padding-left: 10px ;
}

.info p {
    margin: 0;
    padding-left: 13px;
}
.info-ico{
   text-align: center;
}

.info div i { 
    
    font-size: 0.8em;
    padding-top: 0.3em;
    /*This creates a 1px solid red border around your element(div) */
     border:1px solid #F2F2F2;
     background-color: #FFFFFF;
     height: 25px;
     /* border-radius 50% will make it fully rounded. */
     border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
     width: 25px;
}

/*Le bloc contenant les section "Hébergements à Marseille" et "les plus populaires"*/

.container1 {
    display: flex;
    align-items: baseline;
    justify-content: space-between ;
    gap: 40px;
}

/* section "Hébergement à Marseille*/

.container1_left
{
    width: 882px;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    flex: 1;
}


.container1_left .cards_left
{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 205px);
    padding-bottom:0px;
    background-color: #f2f2f2;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    justify-content: space-evenly;   
   

}

.cards_left .card_item
{   width: 200px;
    background-color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 10px;

}

.cards_left .card_img > picture > img
{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container1_left .card_info
{
    font-size: 10px;
}


/* section "Les plus populaires*/

.container1_right
{
    width: 418px;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    
}

.container1_right_header
{
    display: flex;
    align-items: baseline;
    justify-content: space-between ;
}

.chart_ico
{
    font-size: 1.5em;
}


.cards_right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    
}

.cards_right .card_item
{   width: 100%;
    height: 145px;
    background-color: #FFFFFF;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    
    

}

.cards_right .card_img > picture > img
{
    width: 132px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
    
}
.container1_right .card_info
{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.container1_right .card_info h2
{
    
    padding-top: 3px;
    
}

.price{
    font-size: 0.9em;
    margin-top: -3px;
}
.star{
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}

/* Section "Activités à Marseille"*/

.container2 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    row-gap: 45px;
    column-gap: 40px;
    grid-auto-flow: column;
    margin-bottom: 60px;
    height: 446px;
  
}

.fig{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px #F2F2F2 ;
    border-radius: 30px;
            
}

.fig:nth-child(1),
.fig:nth-child(4)
{
    grid-row: 1 / span 2;

}


.fig .image
{   width: 100%;
    height: 70%;
    flex: 1 ;
    background-color: yellow;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}



.fig img{
    
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
   
       
}

.fig .legend{
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #FFFFFF;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFFFFF;
}


/* Footer */

footer{
   
    
    display: flex;
    background-color: #F2F2F2;  
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    margin-left: -50px;
    margin-right: -50px ;
    
}

  
footer ul{
    list-style-type: none;
    padding-left: 0;
   
}
footer ul a{
    text-decoration: none;
    color: black;
}


    
    
  


        







