/* Définition des polices personnalisées */





/* Eléments principaux de la page */

body
{
    font-size: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #181818;
}
body h1
{
    font-size: 2em;
    font-weight: bold;
}

body p
{font-size: 1em;}

#bloc_page
{
    width: 80%;
    margin: auto;
}



/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*#logo img
{
}*/

.entete2
{
    margin: auto;
    
    
}

.entete2 h1
{
    
    text-align:justify
}

.entete2 p
{
    margin-top: -5px;
     
}
.info p
{
    padding-top: 10px;
    padding-bottom: 10px;
    
} 

.info i 
{ 
    font-size: 0.5em;
    margin-right: 2px;
     /*This creates a 1px solid red border around your element(div) */
     border:1px solid #F2F2F2;
     background-color: #FFFFFF;
     height: 8px;
     /* border-radius 50% will make it fully rounded. */
     border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
     width: 8px;
     text-align: center;
}


.filtres 
{
    display: inline-flex;
}

.filtres .btn span 
{
    /* display: block;
    height: 36px;
    */
    position: relative;
    top: 0;
    margin: 0;

}
.filtres .btn {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #F2F2F2;
    height: 42px;
    display: block;
    color: black;
    padding-left: 0px;
    padding-right: 3em;
    padding-top: 0;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 15px;
    text-align: left;

  }

.filtres .btn i
{ 
    font-size: 1.5em;
    margin-right: 10px;
    color: #0065FC;
     /*This creates a 1px solid red border around your element(div) */
     border:1px solid #F2F2F2;
     background-color: #DEEBFF;
     /* border-radius 50% will make it fully rounded. */
     border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
     padding: 10px;
    

}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    
}

nav li
{
    margin-right: 20px;
    font-size: 0.5em;
}

nav a
{
    font-size: 2em;
    padding-bottom: 10px;
    color: #181818;
    text-decoration: none ;

}
#enroll
{
    color: #0065FC;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#enroll:hover
{
    background-color: #0065FC ;
    color: #ffffff;
    border-radius: 5% ;
}

nav a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 10px;

}

/*main*/



/* Footer */

footer{
   
    display: flex;
    background-color: #F2F2F2;  
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin-left: -20px;
    margin-right: -20px ;
}


footer h1{
    
   font-weight: bold;
}
  
footer ul{
    list-style-type: none;
    font-size: 0.5em;
    padding-left: 0;
   
}
footer ul a{
    text-decoration: none;
    color: black;
}


    
    
  


        







